
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mountains+of+Christmas:wght@400;700&display=swap');

body {
    font-family: "Berkshire Swash", serif;
    text-align: center;
    background-image:url('IMG/snow_background.jpg');
    background-size: cover;/* Image covers the entire screen */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-attachment: fixed;/* Background doesn't scroll with the text */
    margin: 0;
    padding: 0; 
    
}

h1 {
    color: rgb(151, 44, 44);
    font-size: 4rem;
    margin-bottom: 0;
}

header{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.instructions 
{
    flex: 0 1 60em; /* 0 means it cant grow, 1 means it can shrink, 45em is the max width*/
    align-items: center;
     margin: 0.5em 1.5em 0em 3em;
     /*top and bottom, right and left*/
     font-size: 2.5rem;
    
}

.instructions p
{
    font-family: "Mountains of Christmas", serif;
    color: rgb(0, 0, 0);
}

#board{
    width: 420px;/*The board is 420 pixels wide*/
    height: 420px;/*The board is 420 pixels high*/
    border: 8px solid rgb(13, 110, 190); /*The board has a 8 pixel solid border*/
    margin: 2em 4em 0em 0em; /*top, right, bottom, left*/
    display: flex; /*The puzzle pieces line up in a row and automatically arrange like a grid*/
    flex-wrap: wrap; /*Makes the puzzle pieces move to the next line 
       when there is no space*/
}

#board img{
    width: 138px; /*Each puzzle piece is 138 pixels wide*/
    height: 138px; /*Each puzzle piece is 138 pixels high*/
    border: 1px solid #63abe3; /*Each puzzle piece has a 1 pixel solid border with color #63abe3*/
}

img[src$="IMG/image_part_003.jpg"] 
{
    opacity: 0;
}

#board img.full-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    animation: fadeIn 1s forwards;
}

#gameControls 
{
    display: flex;              /* puts children in one line */
    justify-content: space-between; /* spreads items across container */
    align-items: center;        /* vertical alignment */
    width: 435px;               /* match board width */
    margin-top: 25px;            /* space between board and controls */
    gap: 10px;                   /* space between turns, best score, button */
}


#gameControls p 
{
    margin: 0;
    padding: 6px 12px;             /* add padding like a button */
    background-color: #0d6ebf;     
    color: white;                   /* text color */
    border-radius: 8px;             /* rounded corners */
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#gameControls p:hover
{
    background-color: #a00909; /* darker blue on hover */
}

#resetBtn {
    padding: 8px 16px;
    background-color: #0d6ebf; /* blue background */
    color: white;
    border: none;
    border-radius: 8px;        /* rounded corners */
    font-weight: bold;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s;
}

#resetBtn:hover 
{
    background-color: #a00909; /* darker blue on hover */
}


